{% extends 'base.html' %}

{% block title %}Sign up {% endblock %}


{% block content %}  

<h1>
    Sign up page
</h1>
<!-- sign up form  -->
<form method="POST">
    <h3 align = 'center'>Sing up</h3>
    <div calss = 'form-group'>
        <label for = 'email'>Email address</label>
            <input type = 'email' 
            class="form-control"
            id="email" 
            name = "email" 
            placeholder="Enter email"
            />
    </div>
    <div calss = 'form-group'>
        <label for = 'Nickname'>Nickname</label>
            <input type = 'text' 
            class="form-control"
            id="Nickname" 
            name = "Nickname" 
            placeholder="Enter Nickname"
            />
    </div>
    <div calss = 'form-group'>
        <label for = 'password1'>Password</label>
            <input type = 'password' 
            class="form-control"
            id="password1" 
            name = "password1" 
            placeholder="Enter password"
            />
    </div>
    <div calss = 'form-group'>
        <label for = 'password2'>Password (Confirm)</label>
            <input type = 'password' 
            class="form-control"
            id="password2" 
            name = "password2" 
            placeholder="Confirm password"
            />
    </div>
    <br/>
    <button type = 'submit' class = 'btn btn-primary'>Submit</button>
</form>
<br/>


{% endblock %}