{% extends 'base.html' %}

{% block title %}Sign up {% endblock %}


{% block content %}  


<!-- sign up form  -->

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <form method="POST">
                <p class="text-white-50 mb-5">Please enter data!</p>
                <div class="form-outline form-white mb-4">
                    <input       
                    type="text"
                    class="form-control"
                    id="Nickname"
                    name="Nickname"
                    placeholder="Enter login" 
                    class="form-control form-control-lg" />
                    <label class="form-label" for="Nickname">Login</label>
                  </div>
                <div class="form-outline form-white mb-4">
                  <input                     
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Enter email"  class="form-control form-control-lg" />
                  <label class="form-label" for="email">Email</label>
                </div>
  
                <div class="form-outline form-white mb-4">
                  <input                   
                  type="password"
                  class="form-control"
                  id="password1"
                  name="password1"
                  placeholder="Enter password" class="form-control form-control-lg" />
                  <label for = 'password1'>Password</label>
                </div>
                <div class="form-outline form-white mb-4">
                    <input                  
                    type="password"
                    class="form-control"
                    id="password2"
                    name="password2"
                    placeholder="Confirm password" class="form-control form-control-lg" />
                    <label for = 'password2'>Password (Confirm)</label>
                  </div>
  

                
                <button type = 'submit' class = 'btn btn-primary'>Submit</button>
            </form>
              </div>

              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}